/* src/pages/BikeRental.css */
.bike-rental-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.bike-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.bike-card {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(241, 239, 239, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.bike-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.bike-card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}

.bike-card h3 {
  margin: 10px 0 5px;
}

.bike-card p {
  margin-bottom: 10px;
}

.bike-card button {
  padding: 8px 15px;
  background-color: #eff1f2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.bike-card button:hover {
  background-color: #dbe0e6;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

.booking-modal input {
  width: 80%;
  padding: 8px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.booking-modal button {
  padding: 10px 20px;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.booking-modal button:hover {
  background-color: darkgreen;
}

.back-btn {
  margin-top: 20px;
  padding: 8px 20px;
  border-radius: 5px;
  background-color: #555;
  color: #fff;
  border: none;
  cursor: pointer;
}

.back-btn:hover {
  background-color: #333;
}
